<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
  </head>
  <body>
    <div>
      <form action="/chats" method="post">
        <input type="text" placeholder="Who are you?" name="from" />
        <textarea
          name="msg"
          id=""
          rows="10"
          cols="35"
          placeholder="Write Message"
        ></textarea>
        <input type="text" placeholder="Received By" name="to" />

        <button>Send Message</button>
      </form>
    </div>
  </body>
</html>
